{ margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { font-family: Georgia, serif; background: #fffaf7; color: #8b6b5c; }
/* SECTION */
section { min-height: 100vh; position: relative;
display: flex;
justify-content: center;
align-items: center;

text-align: center;

padding: 40px 20px;
overflow: hidden;
}
.container { width: 100%; max-width: 430px; position: relative; z-index: 2; }
/* FLOWERS */
.flower { position: absolute; font-size: 60px; line-height: 0.8; opacity: 0.9; }
.flower-top { top: 20px; left: 10px; }
.flower-bottom { bottom: 20px; right: 10px; }
/* COVER */
.cover { background: #fffdfb; }
.subtitle { font-size: 13px; letter-spacing: 5px; margin-bottom: 25px; color: #9d8172; }
.small-flower { font-size: 45px; margin-bottom: 15px; }
.cover h1 { font-family: "Times New Roman", serif; font-size: 50px; font-weight: normal; color: #a38368; }
.and { font-family: cursive; font-size: 30px; color: #c99b8b; margin: 8px 0; }
.date { margin-top: 30px; font-size: 14px; letter-spacing: 4px; }
.scroll { margin-top: 55px; font-size: 11px; letter-spacing: 3px;
animation: updown 2s infinite;
}
/* INVITATION */
.invitation { background: #fff8f4; }
.decor { font-size: 45px; margin-bottom: 20px; }
h2 { font-family: "Times New Roman", serif; font-size: 40px; font-weight: normal; color: #a37c68; margin-bottom: 25px; }
.invitation p { font-size: 16px; line-height: 2; }
/* EVENT */
.event { background: #fffdfb; }
.date-box { margin: 25px auto;
padding: 25px 10px;

border-top: 1px solid #d9b9a8;
border-bottom: 1px solid #d9b9a8;
}
.month { font-size: 14px; letter-spacing: 5px; }
.big-date { font-size: 70px; color: #a27d68; margin: 8px 0; }
.day { font-size: 15px; letter-spacing: 3px; }
.time { margin-top: 20px; font-size: 15px; }
/* LOCATION */
.location { background: #f8eee8; }
.location p { line-height: 2; font-size: 16px; }
.map-button { display: inline-block;
margin-top: 30px;

padding: 13px 30px;

border: 1px solid #a37c68;
border-radius: 30px;

color: #8c6758;
text-decoration: none;

transition: 0.3s;
}
.map-button:hover { background: #a37c68; color: white; }
/* RSVP */
.rsvp { background: #fffaf7; }
.rsvp p { line-height: 1.8; margin-bottom: 20px; }
input, select { width: 100%;
padding: 14px;
margin: 7px 0;

border: 1px solid #d8c0b5;
border-radius: 5px;

background: white;

font-family: Georgia, serif;
}
.submit { width: 100%;
margin-top: 15px;
padding: 14px;

border: none;
border-radius: 30px;

background: #a37c68;
color: white;

font-family: Georgia, serif;
cursor: pointer;
}
/* FOOTER */
footer { background: #a37c68; color: white;
text-align: center;

padding: 30px;

font-size: 14px;
letter-spacing: 2px;
}
/* ANIMATION */
@keyframes updown {
0%, 100% {
    transform: translateY(0);
}

50% {
    transform: translateY(10px);
}
}
/* MOBILE */
@media screen and (max-width: 500px) {
.cover h1 {
    font-size: 45px;
}

h2 {
    font-size: 35px;
}

.flower {
    font-size: 45px;
}
}